# BankID Environment (test | prod)
BANKID_ENV=test

# Path to your BankID RP certificate (.p12 file)
BANKID_CERT_PATH=./certs/FPTestcert5_20240610.p12

# Passphrase for the certificate
BANKID_CERT_PASSPHRASE=qwerty123

# Server port
PORT=3000
